<%= render partial: 'layouts/header' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-4">
      <h1><%= @shop.name %>
      <%= @shop.phone_number %></h1>

      <hr>
        <h1><%= @shop.reviews.average(:score) %></h1>
        <%#= @shop.reviews.score where score is undefined. %>
        <%= link_to "Post a Review", new_shop_review_path(@shop), class: "btn btn-default" %>

      <hr>

      <h2>All Reviews</h2>

      <% @shop.reviews.each do |review| %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Review title goes here</h3>
        </div>

        <div class="panel-body">


          <%= review.user.email %>
          <hr>
          <%= review.score %>
          <hr>
          <%= review.body %>

        </div>

        <div class="panel-footer">If you find this review to be in interference with our site rules, you can file a complaint.
        <%= link_to 'File a Complaint', shop_path %>
        </div>
      </div>
      <% end %>

      <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shop Information</h3>
          </div>

        <div class="panel-body">
          <table>
            <tr>
              <td><%= @shop.name %></td>
              <td><%= @shop.phone_number %></td>
              <td><%= @shop.address %></td>
              <td><%= @shop.shop_url %></td>
            </tr>
          </table>
        </div>

        <div class="panel-footer">If you find this review to be in interference with our site rules, you can file a complaint.
        <%= link_to 'File a Complaint', shop_path %></div>
      </div>
      <% @shop.users.each do |user| %>

        <p>
          <%= user.email %>
        </p>

      <% end %>




  </div>
</div>




<!-- in reviews controller put -
def average
  @score = Review.score.all

  Search in google how to sum up score totals.
  Search in goodle how to limit each user to only one review per shop.
  Search in google how to add minimum and amximum to
-->







<p>
        <strong>Shop Name:</strong>
        <%= @shop.name %>
      </p>

      <p>
        <strong>Phone Number:</strong>
        <%= @shop.phone_number %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @shop.address %>
      </p>

      <%= link_to 'Edit', edit_shop_path(@shop) %> |
      <%= link_to 'Back', shops_path %> |
